*,::before,::after{
    box-sizing: border-box;
}

body{
    background-color: skyblue;
    width: 100vw;
    height: 100vh;
}
.container{
    text-align: center;
    text-transform: capitalize;
}
.container div{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}
.container section{
    margin: 0 auto;
    
}
section img{
    width: 300px;
    height: 300px;
}
.container section img:nth-child(2n){
    border: 3px solid greenyellow;
    border-radius: 15px;
 
}
.container section img:nth-child(2n+1){
    border: 5px solid red;
    border-radius: 15px;
}
.lista-heroes{
    height: 20%;
    display: flex;
    justify-content: center;
}
.lista-heroes li{
    display: inline-block;
 list-style: none;
 margin: 10px;
 border: 1px solid green;
 padding: 10px;
 width: 200px;
 border-radius: 15px;
 font-weight: bold;
 font-size: 18px;
}
.lista-heroes li:hover{
    cursor: pointer;
    background-color: rgb(80, 167, 201);
    scale: 1.08;
    transition: all 0.5s;
    
}



